.gradient-custom-2 {
  /* fallback for old browsers */
  background: #000000;
  /* background: url('/public/assets/img/newspaper.jpeg');
  background-size: cover;
  background-repeat: no-repeat; */

  /* Untuk Webkit (Safari/Chrome 10+) */
background: -webkit-linear-gradient(to right, #333, #777, #aaa, #ddd);

/* Untuk W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #333, #777, #aaa, #ddd);


}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
